<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    <h3><a href="/challenges/<%=id%>">Go to Challenges</a></h3>
    <h3><a href="/teams/<%=id%>">Your teams</a></h3>
    <h3><a href="/scoreboard/${id}">Check scoreboard</a></h3>
    <h3><a href="/profile/<%=id%>">Profile</a></h3>
    <h4><a href="/share/<%=id%>">Share the application</a></h4>
    <h4><a href="/login">Logout</a></h4>
</body>
</html> -->

 