<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Teams</title>
</head>
<body>
    <h1>Your Teams : </h1>
    <% for(let teamData of teamsData){ %>
        <h3><%=teamData.name%> </h3> 
    <% } %>  
    <a href="/teams/<%=uid%>/createTeam">Create new team</a>
</body>
</html>